<div class="modal fade" id="Modal-Add-Category" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          Add a new category
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        Enter the name of the new category you want to add.
        <form method="POST" action="/add_category">
          {{ category_form.hidden_tag() }}
          <div class="modal-add-category-input">
            {{ category_form.name }}
            {{ category_form.submit() }}
          </div>
        </form>
      </div>
    </div>
  </div>
</div>