<div class="modal fade" id="Modal-Delete-Expense" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">
          Delete Expense
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        Do you want to delete the expense "{{ expense.name }}"?
        <form method="POST">
            {{ delete_expense_form.hidden_tag() }}
            <input id="deleted_expense" name="deleted_expense" type="hidden" value="{{ expense.expense_id }}">
            {{ delete_expense_form.submit(class="btn btn-outline-danger btn-block") }}
        </form>
      </div>
    </div>
  </div>
</div>