{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <div class="login-container">
        <h1>Login</h1>
        <form method="POST">
            {{ login_form.hidden_tag() }}
            <div class="login-username">
                {{ login_form.username.label() }}
                {{ login_form.username(placeholder="User Name") }}
            </div>
            <div class="login-password">
                {{ login_form.password.label() }}
                {{ login_form.password(placeholder="Password") }}
            </div>
            <div class="login-register">
                <h6>Do not have an account?
                    <a href="{{ url_for('register_page') }}">Register</a>
                </h6>
            </div>
            <div class="login-submit">
                {{ login_form.submit() }}
            </div>
        </form>
    </div>
{% endblock %}