{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <body>
        <div>
            <form method="POST">
                {{ login_form.hidden_tag() }}
                <h1>Please log in</h1>
                {{ login_form.username.label() }}
                {{ login_form.username(placeholder="User Name") }}

                {{ login_form.password.label() }}
                {{ login_form.password(placeholder="Password") }}

                <br>

                <div class="checkbox mb-3">
                    <h6>Do not have an account?</h6>
                    <a href="{{ url_for('register_page') }}">Register</a>
                </div>

                {{ login_form.submit() }}
            </form>
        </div>
    </body>
{% endblock %}